*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Roboto',sans-serif;
}

.container{
    width: 100%;
    height: 65px;
    display: flex;
    text-align: center;
}

.container div{
    width: 100%;
    margin: auto 0;
}
.container div h1{
    font-size: 3.5rem;
}
.container div p{
    margin-top: 20px;
    font-size: 1.4rem;
}

.discount-container{
    margin-top: 50px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;

}
.discount-container form {
    margin: 0 auto;
    width: 220px;
    height: 200px;
    text-align: center;
}

.discount-container form label{
    margin-top: 10px;
    font-size: 1.4rem;
}
.discount-container form input{
    margin: 10px auto;
}
    
#ResultP{
    margin-top: 10px;
    font-size: 1.8rem;
    color: red;
}